<table class="table">
    <thead>
        <tr>
            <th >Institution</th>
            <th>Degree</th>
            <th>Major</th>
            <th>Start Date</th>
            <th>End Date</th>
            {{#unless readMode }}
                <th>Actions</th>
            {{/unless}}
        </tr>
    </thead>
    <tbody>
        {{#each education}}
        <tr >
            <td>{{this.institution}}</td>
            <td>{{this.degree}}</td>
            <td>{{this.major}}</td>
            <td>{{this.startDate}}</td>
            <td>{{this.endDate}}</td>
           
           {{#unless ../readMode }}
                <td>
                    <form action="/cv/education/remove" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            {{/unless }}


        </tr>
        {{/each}}
        <!-- Empty row for adding new education -->
        <tr class="education-row">
            <td><input  type="text" class="form-input" placeholder="Institution" name="educationInstitution" required></td>
            <td><input  type="text" class="form-input" placeholder="Degree" name="educationDegree" required></td>
            <td><input  type="text" class="form-input" placeholder="Major" name="educationMajor" required></td>
            <td><input  type="date" class="form-input" placeholder="Start Date" name="educationStartDate" required></td>
            <td><input  type="date" class="form-input" placeholder="End Date" name="educationEndDate" required></td>
            {{#unless readMode }}
                <td><button type="submit" id="addEducationButton">Add</button></td>
            {{/unless }}
        </tr>
    </tbody>
</table>
</table>