<table class="table">
    <thead>
        <tr>
            <th >Institution</th>
            <th>Degree</th>
            <th>Major</th>
            <th>Start Date</th>
            <th>End Date</th>
            {{#unless readMode }}
                <th>Actions</th>
            {{/unless}}
        </tr>
    </thead>
    <tbody>
        {{#each education}}
       {{#if ../readMode }}
            <tr class="education-row">          
                    <td>{{this.institution}}</td>
                    <td>{{this.degree}}</td>
                    <td>{{this.major}}</td>
                    <td>{{this.startDate}}</td>
                    <td>{{this.endDate}}</td>     
                    <td></td>    
            </tr>
            {{else}}
                <tr class="education-row">          
                    <td><input type="text" value="{{this.institution}}" class="edit-input" placeholder="Institution" name="educationInstitution_{{this.id}}" required></td>
                    <td><input type="text" value="{{this.degree}}" class="edit-input" placeholder="Degree" name="educationDegree_{{this.id}}" required></td>
                    <td><input type="text" value="{{this.major}}" class="edit-input" placeholder="Major" name="educationMajor_{{this.id}}" required></td>
                    <td><input type="date" value="{{this.startDate}}" class="edit-input" placeholder="Start Date" name="educationStartDate_{{this.id}}" required></td>
                    <td><input type="date" value="{{this.endDate}}" class="edit-input" placeholder="End Date" name="educationEndDate_{{this.id}}" required></td>     
                    <td>
                        <button onclick="saveEducationChanges('{{this.id}}')">Save Changes</button>
                        <button onclick="removeEducation('{{this.id}}')">Remove</button>
                    </td>
                </tr>
            {{/if }}
        {{/each}}
        <!-- Empty row for adding new education -->
        {{#unless readMode }}
            <tr class="education-row">
                <td><input type="text" class="edit-input" placeholder="Institution" name="educationInstitutionNew" required></td>
                <td><input type="text" class="edit-input" placeholder="Degree" name="educationDegreeNew" required></td>
                <td><input type="text" class="edit-input" placeholder="Major" name="educationMajorNew" required></td>
                <td><input type="date" class="edit-input" placeholder="Start Date" name="educationStartDateNew" required></td>
                <td><input type="date" class="edit-input" placeholder="End Date" name="educationEndDateNew" required></td>
                <td><button type="submit" id="addEducationButton">Add</button></td>  
            </tr>
        {{/unless }}
    </tbody>
</table>
<script src="/js/addEducation.js"></script>
<script src="/js/saveEducationChanges.js"></script>