<table class="table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            {{#unless readMode}}
                <th>Actions</th>
            {{/unless}}
        </tr>
    </thead>
    <tbody>
        {{#each work}}
        <tr class="work-row">
            <td>{{this.company}}</td>
            <td>{{this.position}}</td>
            <td>{{this.description}}</td>
            <td>{{this.startDate}}</td>
            <td>{{this.endDate}}</td>
            {{#unless ../readMode}}
                <td>
                    <form action="/cv/work/remove" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            {{/unless}}

        </tr>
        {{/each}}
        <!-- Empty row for adding new work -->
        <tr class="work-row">
            <td><input type="text" class="form-input" placeholder="Company" name="workCompany" required></td>
            <td><input type="text" class="form-input" placeholder="Position" name="workPosition" required></td>
            <td><input type="text" class="form-input" placeholder="Description" name="workDescription" required></td>
            <td><input type="date" class="form-input" placeholder="Start Date" name="workStartDate" required></td>
            <td><input type="date" class="form-input" placeholder="End Date" name="workEndDate" required></td>
            {{#unless readMode}}
                <td><button type="submit" id="addworkButton">Add</button></td>
            {{/unless}}
        </tr>
    </tbody>
</table>