
<div class="user-managment-card">
<h2>User List</h2>


<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Is Active</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each user}}
        <tr>
            <td>{{this.username}}</td>
            <td>
                <select class="form-select" style="color:black" id="activeSelect-{{this.id}}">
                    <option value="Active" {{#if this.active}}selected{{/if}}>Active</option>
                    <option value="Inactive" {{#unless this.active}}selected{{/unless}}>Inactive</option>
                </select>
            </td>
            <td>
                <select class="form-select" style="color:black" id="roleSelect-{{this.id}}">
                    <option value="ROLE_USER" {{#if (equal this.role 'ROLE_USER')}}selected{{/if}}>User</option>
                    <option value="ROLE_ADMIN" {{#if (equal this.role 'ROLE_ADMIN')}}selected{{/if}}>Admin</option>
                </select>
            </td>
            <td>
                <button class="btn btn-primary"onclick="saveUserChanges('{{this.id}}')">Save Changes</button>
                <button class="btn btn-error"onclick="removeUserPermanently('{{this.id}}')">Remove Permanently</button>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>
</div>

<script src="/js/saveUserChanges.js"></script> 
<script src="/js/removeUserPermanently.js"></script>